<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <script src="./js/echarts4_8_0.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"></script>
    <title>Hello, world!</title>
</head>

<body class="mdui-theme-primary-indigo mdui-drawer-body-left mdui-appbar-with-toolbar">
    <header class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">menu</i>
            </a>
            <a href="javascript:;" class="mdui-typo-headline">性能监视器</a>
            <a href="javascript:;" class="mdui-typo-title">Memory</a>
            <div class="mdui-toolbar-spacer"></div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
            </a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">refresh</i>
            </a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">more_vert</i>
            </a>
        </div>
    </header>
    <div class="mdui-drawer">
        <ul class="mdui-list">
            <a class="mdui-list-item mdui-ripple" href="cpu">
                <i class="mdui-list-item-icon mdui-icon material-icons">blur_circular</i>
                <div class="mdui-list-item-content">CPU</div>
            </a>

            <a class="mdui-list-item mdui-ripple" href="memory">
                <i class="mdui-list-item-icon mdui-icon material-icons">memory</i>
                <div class="mdui-list-item-content">Memory</div>
            </a>

            <a class="mdui-list-item mdui-ripple" href="disk">

                <i class="mdui-list-item-icon mdui-icon material-icons">sd_storage</i>
                <div class="mdui-list-item-content">Disk</div>
            </a>

            <a class="mdui-list-item mdui-ripple" href="network">
                <i class="mdui-list-item-icon mdui-icon material-icons">network_check</i>
                <div class="mdui-list-item-content">Network</div>
            </a>
        </ul>
    </div>
    <div class="mdui-container">

        <div class="mdui-row">
           <!--水球图位置-->
        <div id="liquid" style="width:40%; height:500px;" class="mdui-col-xs-3"></div>
        <!--折线图位置-->
        <div id="bar" style="width:60%; height:500px;" class="mdui-col-xs-9"></div> 
        </div>
        

        <!--本段是球图，实时展示内存占用率-->
        <script>
            var chart1 = echarts.init(document.getElementById('liquid'), 'white', { renderer: 'canvas' });

            $(
                function () {
                    fetchLiquidData(chart1);
                    setInterval(fetchLiquidData, 1000);
                }
            );

            function fetchLiquidData() {
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/MemoryUsage",
                    dataType: 'json',
                    success: function (result) {
                        chart1.setOption(result);
                    }
                });
            }
        </script>

        <!--本段是折线图，展示内存占用率-->
        <script>
            var chartDom = document.getElementById('bar');
            var myChart = echarts.init(chartDom);
            var option;
            var tNow = [], avail = [], Committed = [], Limit = [], Usage = [];

            option = {
                backgroundColor: "#ffffff",
                title: {
                    text: "内存信息",
                    textStyle: {
                        fontWeight: "normal",
                        fontSize: 16,
                        color: "#0f0f0f",
                    },
                    left: "6%",
                },
                tooltip: {
                    trigger: "axis",
                    axisPointer: {
                        lineStyle: {
                            color: "#33c8c5",
                        },
                    },
                },
                legend: {
                    icon: "rect",
                    itemWidth: 14,
                    itemHeight: 5,
                    itemGap: 13,
                    data: ["可用空间", "已用空间", "总容量", "使用率"],
                    right: "4%",
                    textStyle: {
                        fontSize: 12,
                        color: "#6a6ae5",
                    },
                },
                grid: {
                    left: "3%",
                    right: "4%",
                    bottom: "3%",
                    containLabel: true,
                },
                xAxis: [
                    {
                        type: "category",
                        boundaryGap: false,
                        axisLine: {
                            lineStyle: {
                                color: "#f67620",
                            },
                        },
                        data: tNow,
                    }
                ],
                dataZoom: [
                    {
                        type: "slider",
                        xAxisIndex: 0,
                        filterMode: "empty",
                        start: 0,
                        end: 100,
                    },
                    {
                        type: "slider",
                        yAxisIndex: 0,
                        filterMode: "empty",
                        start: 0,
                        end: 100,
                    },
                    {
                        type: "inside",
                        xAxisIndex: 0,
                        filterMode: "empty",
                        start: 0,
                        end: 100,
                    },
                    {
                        type: "inside",
                        yAxisIndex: 0,
                        filterMode: "empty",
                        start: 0,
                        end: 100,
                    },
                ],
                yAxis: [
                    {
                        type: "value",
                        name: "单位（G）",
                        axisTick: {
                            show: false,
                        },
                        axisLine: {
                            lineStyle: {
                                color: "#ace6a9",
                            },
                        },
                        axisLabel: {
                            formatter: "{value} G",
                            margin: 10,
                            textStyle: {
                                fontSize: 14,
                            },
                        },
                        splitLine: {
                            lineStyle: {
                                color: "#ace6a9",
                            },
                        },
                    },
                    {
                        type: "value",
                        name: "利用率（%）",
                        max: 100,//最大值
                        min: 0,//最小值
                        interval: 20,//间隔
                        axisTick: {
                            show: false,
                        },
                        axisLine: {
                            lineStyle: {
                                color: "#ace6a9",
                            },
                        },
                        axisLabel: {
                            formatter: "{value} %",
                            margin: 10,
                            textStyle: {
                                fontSize: 14,
                            },
                        },
                        splitLine: {
                            lineStyle: {
                                color: "#ace6a9",
                            },
                        },
                    },
                ],
                series: [
                    {
                        name: "可用空间",
                        type: "line",
                        smooth: true,
                        symbol: "circle",
                        symbolSize: 5,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 1,
                            },
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1,
                                    [
                                        {
                                            offset: 0,
                                            color: "rgba(137, 189, 27, 0.3)",
                                        },
                                        {
                                            offset: 0.8,
                                            color: "rgba(137, 189, 27, 0)",
                                        },
                                    ],
                                    false
                                ),
                                shadowColor: "rgba(0, 0, 0, 0.1)",
                                shadowBlur: 10,
                            },
                        },
                        itemStyle: {
                            normal: {
                                color: "rgb(137,189,27)",
                                borderColor: "rgba(137,189,2,0.27)",
                                borderWidth: 12,
                            },
                        },
                        data: avail,
                    },
                    {
                        name: "已用空间",
                        type: "line",
                        smooth: true,
                        symbol: "circle",
                        symbolSize: 5,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 1,
                            },
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1,
                                    [
                                        {
                                            offset: 0,
                                            color: "rgba(0, 136, 212, 0.3)",
                                        },
                                        {
                                            offset: 0.8,
                                            color: "rgba(0, 136, 212, 0)",
                                        },
                                    ],
                                    false
                                ),
                                shadowColor: "rgba(0, 0, 0, 0.1)",
                                shadowBlur: 10,
                            },
                        },
                        itemStyle: {
                            normal: {
                                color: "rgb(0,136,212)",
                                borderColor: "rgba(0,136,212,0.2)",
                                borderWidth: 12,
                            },
                        },
                        data: Committed,
                    },
                    {
                        name: "总容量",
                        type: "line",
                        smooth: true,
                        symbol: "circle",
                        symbolSize: 5,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 1,
                            },
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1,
                                    [
                                        {
                                            offset: 0,
                                            color: "rgba(219, 50, 51, 0.3)",
                                        },
                                        {
                                            offset: 0.8,
                                            color: "rgba(219, 50, 51, 0)",
                                        },
                                    ],
                                    false
                                ),
                                shadowColor: "rgba(0, 0, 0, 0.1)",
                                shadowBlur: 10,
                            },
                        },
                        itemStyle: {
                            normal: {
                                color: "rgb(219,50,51)",
                                borderColor: "rgba(219,50,51,0.2)",
                                borderWidth: 12,
                            },
                        },
                        data: Limit,
                    },
                    {
                        name: "使用率",
                        type: "line",
                        yAxisIndex: 1,
                        smooth: true,
                        symbol: "circle",
                        symbolSize: 5,
                        showSymbol: false,
                        lineStyle: {
                            normal: {
                                width: 8,
                                color: {
                                    type: "linear",
                                    colorStops: [
                                        {
                                            offset: 0,
                                            color: "#A9F387", // 0% 处的颜色
                                        },
                                        {
                                            offset: 1,
                                            color: "#48D8BF", // 100% 处的颜色
                                        },
                                    ],
                                    globalCoord: false, // 缺省为 false
                                },
                                shadowColor: "rgba(72,216,191, 0.3)",
                                shadowBlur: 10,
                                shadowOffsetY: 20,
                            },
                        },
                        itemStyle: {
                            normal: {
                                color: "#fff",
                                borderWidth: 10,
                                shadowColor: 'rgba(72,216,191, 0.3)',
                                shadowBlur: 100,
                                borderColor: "#A9F387",
                            },
                        },
                        data: Usage,
                    },
                ],
            };

            $(
                function () {
                    initData();
                    setInterval(getDynamicData, 1000);
                }
            );
            //判定总长度并删除过长的部分
            function removeData() {
                if (tNow.length > 15) {
                    tNow.shift();
                    avail.shift();
                    Committed.shift();
                    Limit.shift();
                    Usage.shift();
                }
            }
            //初始化数据
            function initData() {
                for (var i = 0; i < 15; i++) {
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:5000/MemoryUsageThree",
                        dataType: "json",
                        success: function (result) {
                            tNow.push(result.tNow);//将新值更新到数组后面
                            avail.push(result.avail);//
                            Committed.push(result.Committed);//
                            Limit.push(result.Limit);//
                            Usage.push(result.Usage);
                        }
                    });
                }
            }
            //更新函数
            function getDynamicData() {
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/MemoryUsageThree",
                    dataType: "json",
                    success: function (result) {
                        tNow.push(result.tNow);//将新值更新到数组后面
                        avail.push(result.avail);//
                        Committed.push(result.Committed);//
                        Limit.push(result.Limit);//
                        Usage.push(result.Usage);
                        removeData();
                        myChart.setOption(option);
                    }
                });
            }

            option && myChart.setOption(option);

        </script>
    </div>
    <!-- MDUI JavaScript -->
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>

</html>